body {
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

.heading {
    background-color: gold;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 52px;
    font-weight: bolder;
    margin-bottom: 80px;
    color: rgb(186, 100, 13);
    -webkit-text-stroke: 1px lightgreen;
}

img {
    width: 300px;
    height: 300px;
}

div.recipe {
    background-color: white;
    padding: 20px;
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
}

img.odin {
    width: 300px;
    height: 125px;
    border-radius: 20px;
    margin: 0 auto;
}

.biko, .crispy-pata, .pork-adobo {
    background-color: rgb(29, 148, 29);
    padding: 50px;
    margin: auto;
    border: 5px solid #c36609;
}

a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: brown;
}