body {
    font-family: sans-serif;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(78, 172, 78);
}

.heading {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 72px;
    color: rgb(246, 142, 31);
    font-weight: bolder;
    margin-bottom: 50px;
    -webkit-text-stroke: 2px rgb(4, 70, 4);
}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

div.recipe {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

img.odin {
    width: 300px;
    height: 125px;
    border-radius: 20px;
    margin: 10px auto;

}

.biko, .crispy-pata, .pork-adobo {
    background-color:rgb(210, 252, 168);
    padding: 50px;
    margin: 0 auto;
    border: 5px solid #c36609;
    border-radius: 20px;
}
div.crispy-pata {
    margin: 0 10px;
}

a {
    font-size: 30px;
    color: brown;
    text-decoration: none;
}

a:hover {
    color: white;
}